APP_NAME="بازار"
APP_URL="http://localhost/bazarEshopWithPhp/public/"
APP_DEBUG=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=em-reza-shop-db
DB_USERNAME=root
DB_PASSWORD=

UPLOAD_MAX_SIZE=5242880
